ENV="development"

JWT_SECRET="7,£Jl`{-XP2=4%g(i2_+W)z>wu>r84:H"

DB_USERNAME="root"
DB_PASSWORD="password"
DB_HOST="socialmarket-mysql"
DB_PORT="3306"
DB_DATABASE="socialmarket"

AWS_S3_ACCESS_KEY_ID="AAAAAAAAAAAAAAAAAAA"
AWS_S3_ACCESS_KEY="ffffffffffffffffffffffffffffffffffffffff"

SMTP_GMAIL_APP_KEY="AAAAAAAAAAAAAAAAAAA"

APP_URL="http://localhost:5173"